[submodule "site/themes/hugo-theme-stack"]
	path = site/themes/hugo-theme-stack
	url = https://github.com/ekrof/hugo-theme-stack/
[submodule "site/themes/hugo-cloak-email"]
	path = site/themes/hugo-cloak-email
	url = https://github.com/martignoni/hugo-cloak-email.git
